In [1]:
import numpy as np
import pandas as pd

In [3]:
import datetime
import dateutil

In [36]:
date = datetime.datetime(2020,1,29,12,5)

In [75]:
for method in [method for method in dir(date) if not method.startswith('_')]:
    RealMethod = eval(f'date.{method}')
    try:
        if callable(RealMethod):
            print(f"{method}() -->  {RealMethod()}")
        else:
            print(f"{method} --> {RealMethod}")
    except:
        continue

astimezone() -->  2020-01-29 12:05:00+05:30
ctime() -->  Wed Jan 29 12:05:00 2020
date() -->  2020-01-29
day --> 29
dst() -->  None
fold --> 0
hour --> 12
isocalendar() -->  (2020, 5, 3)
isoformat() -->  2020-01-29T12:05:00
isoweekday() -->  3
max --> 9999-12-31 23:59:59.999999
microsecond --> 0
min --> 0001-01-01 00:00:00
minute --> 5
month --> 1
now() -->  2021-01-30 12:52:31.092571
replace() -->  2020-01-29 12:05:00
resolution --> 0:00:00.000001
second --> 0
time() -->  12:05:00
timestamp() -->  1580279700.0
timetuple() -->  time.struct_time(tm_year=2020, tm_mon=1, tm_mday=29, tm_hour=12, tm_min=5, tm_sec=0, tm_wday=2, tm_yday=29, tm_isdst=-1)
timetz() -->  12:05:00
today() -->  2021-01-30 12:52:31.092571
toordinal() -->  737453
tzinfo --> None
tzname() -->  None
utcnow() -->  2021-01-30 07:22:31.092571
utcoffset() -->  None
utctimetuple() -->  time.struct_time(tm_year=2020, tm_mon=1, tm_mday=29, tm_hour=12, tm_min=5, tm_sec=0, tm_wday=2, tm_yday=29, tm_isdst=0)
weekday() -->  2
year --> 2020

In [86]:
dateutil.parser.parse('29th Jan 2021')

datetime.datetime(2021, 1, 29, 0, 0)

### Easy, now trying the Pandas DF to generate automatically...

In [104]:
datetime.timedelta(days = 10) + date

datetime.datetime(2020, 2, 8, 12, 5)

In [93]:
pd.to_timedelta(np.arange(1,3), 'D')

TimedeltaIndex(['1 days', '2 days'], dtype='timedelta64[ns]', freq=None)

In [92]:
date + pd.to_timedelta(np.arange(1,3), 'D')

DatetimeIndex(['2020-01-30 12:05:00', '2020-01-31 12:05:00'], dtype='datetime64[ns]', freq=None)

In [123]:
times = pd.date_range('2021-01-01', periods=10, freq= '2D')
times

DatetimeIndex(['2021-01-01', '2021-01-03', '2021-01-05', '2021-01-07',
               '2021-01-09', '2021-01-11', '2021-01-13', '2021-01-15',
               '2021-01-17', '2021-01-19'],
              dtype='datetime64[ns]', freq='2D')

In [125]:
kak = pd.Series([1,2,3])

In [129]:
kak.index

RangeIndex(start=0, stop=3, step=1)

In [133]:
kak.index = pd.Float64Index(range(1,9))[:3]

In [141]:
list(pd.RangeIndex(3,44,4)[:3])

[3, 7, 11]

In [170]:
temp = pd.Series(range(1,366), index= pd.date_range('1-1-21', periods= 365))

In [184]:
temp.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [183]:
temp.iloc[range(0,12)]

2021-01-01     1
2021-01-02     2
2021-01-03     3
2021-01-04     4
2021-01-05     5
2021-01-06     6
2021-01-07     7
2021-01-08     8
2021-01-09     9
2021-01-10    10
2021-01-11    11
2021-01-12    12
Freq: D, dtype: int64

In [134]:
kak

1.0    1
2.0    2
3.0    3
dtype: int64

In [131]:
pd.Float64Index(range(1,9))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')

In [205]:
aa= pd.DataFrame({"KAKA": np.random.randint(0,10,30)}, index= pd.date_range('1-1-21', periods= 30, freq= "3D"))

aa.asfreq(freq='D', )

In [215]:
aa

            KAKA
2021-01-01     2
2021-01-04     0
2021-01-07     2
2021-01-10     9
2021-01-13     7
2021-01-16     8
2021-01-19     6
2021-01-22     2
2021-01-25     1
2021-01-28     0
2021-01-31     7
2021-02-03     7
2021-02-06     4
2021-02-09     6
2021-02-12     8
2021-02-15     0
2021-02-18     5
2021-02-21     4
2021-02-24     3
2021-02-27     6
2021-03-02     9
2021-03-05     3
2021-03-08     7
2021-03-11     5
2021-03-14     3
2021-03-17     7
2021-03-20     1
2021-03-23     6
2021-03-26     9
2021-03-29     2

In [214]:
aa.asfreq(freq='10D', method= 'pad' )

            KAKA
2021-01-01     2
2021-01-11     9
2021-01-21     6
2021-01-31     7
2021-02-10     6
2021-02-20     5
2021-03-02     9
2021-03-12     5
2021-03-22     1