In [1]:
import pandas as pd

In [3]:
a= pd.Series([1,2,3], index= [4,2,5])

In [7]:
a

4    1
2    2
5    3
dtype: int64

In [10]:
a[0:4]

4    1
2    2
5    3
dtype: int64

In [15]:
a.loc[4: 2]

4    1
2    2
dtype: int64

In [16]:
import numpy as np

In [29]:
a = np.array([1,2,3,222,56])
b = np.array([1,22,3,4, 67])

In [47]:
a = pd.Index([22,2,3,22,56])
b = pd.Index([1,22,3,4, '67'])

In [48]:
a | b

Index([1, 2, 3, 4, 22, 22, 56, '67'], dtype='object')

In [68]:
b[b.astype(int) > 3 ]

Index([22, 4, '67'], dtype='object')

In [72]:
b

Index([1, 22, 3, 4, '67'], dtype='object')

In [71]:
b.astype(int) > 3

array([False,  True, False,  True,  True])

In [74]:
a = np.array([1,2,3,222,56])

In [75]:
b = pd.Index([1,22,3,4, '67'])

In [78]:
a | b

TypeError: unsupported operand type(s) for |: 'numpy.ndarray' and 'Index'

#

In [77]:
b | a

Index([1, 2, 3, 4, 22, 56, 222, '67'], dtype='object')

In [93]:
a = pd.DataFrame(np.random.randint(0, 10, (4,3)), columns= list('ABC'))

In [94]:
a

   A  B  C
0  2  5  8
1  2  6  8
2  8  1  3
3  9  0  8

In [101]:
a - a.iloc[:, 0]

    A   B   C   0   1   2   3
0 NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN

In [109]:
a.subtract(a.iloc[:, 0], axis= 1)

    A   B   C   0   1   2   3
0 NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN