In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
marathon = pd.read_csv('https://raw.githubusercontent.com/jakevdp/marathon-data/master/marathon-data.csv')

In [10]:
marathon.dtypes

age        int64
gender    object
split     object
final     object
dtype: object

In [12]:
marathon.head()

   age gender     split     final
0   33      M  01:05:38  02:08:51
1   32      M  01:06:26  02:09:28
2   31      M  01:06:49  02:10:42
3   38      M  01:06:16  02:13:45
4   31      M  01:06:32  02:13:59

### Seems the split and final time is in String

In [31]:
marathon['split'] = pd.to_datetime(marathon.split, format= "%H:%M:%S")

In [33]:
marathon['final'] = pd.to_datetime(marathon.final, format= "%H:%M:%S")

In [34]:
marathon.dtypes

age                int64
gender            object
split     datetime64[ns]
final     datetime64[ns]
dtype: object

In [35]:
marathon.head()

   age gender               split               final
0   33      M 1900-01-01 01:05:38 1900-01-01 02:08:51
1   32      M 1900-01-01 01:06:26 1900-01-01 02:09:28
2   31      M 1900-01-01 01:06:49 1900-01-01 02:10:42
3   38      M 1900-01-01 01:06:16 1900-01-01 02:13:45
4   31      M 1900-01-01 01:06:32 1900-01-01 02:13:59

In [72]:
marathon.split.astype(int)

TypeError: cannot astype a datetimelike from [datetime64[ns]] to [int32]

In [80]:
k = np.array([datetime.timedelta(hours= 0, minutes= 2, seconds= 2),], dtype= np.timedelta64)

In [113]:
def kaka(s):
    h, m, s = list(map(int,s.split(":")))
    return pd.Timedelta(hours= h, minutes= m, seconds= s)

TypeError: 'freq' is an invalid keyword argument for array()